#####  1. Find the 2nd largest and 2nd smallest element in a list.

In [9]:
list = [4,5,8,9,11,44,22,34,90]

list1 = sorted(list)
second_largest = list1[-2]
second_smallest = list1[2]

print('second largest element in list:', second_largest)
print('second smallest element in list:' , second_smallest)

second largest element in list: 44
second smallest element in list: 8

##### 2. Find the key with the largest value in a dictionary.

In [10]:
dict = {"a": 3 , 'b' : 6 , "c": 12 , "d" : 24}

largest_val = max(dict,key = dict.get)

print("largest value in dictionary :" , largest_val)

largest value in dictionary : d

##### 3. Create a new folder using os module and create a file inside it.f

In [5]:
import os

os.mkdir("Datascience")
f = open("Datascience/newfile.txt","w")
f.write("my file is inside Datascience")
f.close()
print("Folder and file create successfully")

Folder and file create successfully

##### 4. Write a recursive function to calculate Fibonacci series up to n terms.

In [14]:
def fibonacci_series(n):
    a=0
    b=1
    for i in range(n):
        print(b, end=" ")
        a,b=b,a+b

In [15]:
fibonacci_series(5)

1 1 2 3 5

##### 5. Use a lambda with map() to convert a list of integers into their cubes.

In [1]:
lst = [1,4,5,8,9,11,22]

cube_lst = list(map(lambda x:x**3 , lst))

print(cube_lst)

[1, 64, 125, 512, 729, 1331, 10648]

#####  6. Create a class Employee that increases salary by 10%.

In [6]:
class Employee:
    def salary(self,salary):
        print(f"The salary hike of the employee : {salary*0.1}")

In [8]:
obj=Employee()

In [10]:
obj.salary(20000)

The salary of the employee : 2000.0

##### 7. Write a program to print the date 30 days from today.

In [11]:
import datetime
today = datetime.date.today()
print("Todays date: ", today)
one_month = today+datetime.timedelta(days=30)
print("Date after 30 days from today:", one_month)

Todays date:  2025-09-16
Date after 30 days from today: 2025-10-16

##### 8. Write a program to convert radians to degrees and vice versa.

In [14]:
import math

Y = math.radians(18)
print(Y)

Z = math.degrees(18)
print(Z)

0.3141592653589793
1031.324031235482